@use '../../../styles/helpers';

.nav {
    display: flex;
    justify-content: space-between;
    max-width: helpers.$max-width;
    width: 100%;
    &__list {
        display: flex;
        justify-content: space-between;
        min-height: 3em;

        &--app {
        }
        &--user {
        }
    }

    &__element {
       
    
    }

    &__link {
        @include helpers.remove-outline-link;
        @include helpers.header-std-transform;

        padding: 0 15px;
        height: 100%;

        display: flex;
        align-items: center;
        color: helpers.$dark-gray;
        font-weight: 600;
        transition: background-color .2s;

        &:hover {
            background-color: rgb(helpers.$orange, 0.7);
        }

        
    }

    .faLogin {
        padding-right: 8px;
        font-size: 1.5em;
    }
}