<nav class="nav">
    <ul class="nav__list nav__link--app">
        <li class="nav__element">
            <a href="#" class="nav__link">home</a>
        </li>
        <li class="nav__element">
            <a href="#" class="nav__link">auctions</a>
        </li>
        <li class="nav__element">
            <a href="#" class="nav__link">abous us</a>
        </li>
        <li class="nav__element">
            <a href="#" class="nav__link">contact</a>
        </li>
    </ul>

    <ul class="nav__list nav__list--user">
        <li class="nav__element">
            <a href="#" class="nav__link">login</a>
        </li>
        <li class="nav__element" [hidden]="true">
            <a href="#" class="nav__link">profile</a>
        </li>
        <li class="nav__element" [hidden]="true">
            <a href="#" class="nav__link">logout</a>
        </li>
    </ul>
</nav>
