<div>login form


    <form class="form" (ngSubmit)="save()" [formGroup]="loginForm">
        <div class="form__group form__first-name">
            <label class="form__label" for="firstName">First Name</label>
            <input class="form__input" type="text" formControlName="firstName" id="firstName" required />
            <app-validator [validator]="loginForm"></app-validator>
        </div>
        <div class="form__group form__login" >
            <label class="form__label" for="login">Login</label>
            <input class="form__input" type="text" formControlName="login" id="login" required />
        </div>
        <div class="form__group form__password-group" formGroupName="passwordGroup">
            <div class="form__group form__password">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" type="password" formControlName="password" id="password"  required/>
            </div>
            <div class="form__group form__confirm-password">
                <label class="form__label" for="confirmPassword">Confirm password</label>
                <input class="form__input" type="password" formControlName="confirmPassword" id="confirmPassword"  required/>
            </div>
        </div>

        <div class="form__group form__notification" >
            <p>Send Notifications</p>
            <label class="form__label" for="notificationEmail">E-mail</label>
            <input class="form__input" type="radio" name="notification" formControlName="notification" id="notificationEmail" value="Email" />
            <label class="form__label" for="notificationTxt">Text</label>
            <input class="form__input" type="radio" name="notification" formControlName="notification" id="notificationTxt" value="Txt" />
        </div>

        <button class="form__submit" type="submit">Submit</button>
        <button class="form__submit" type="submit" (click)="populateTestData()">Test Data</button>
    </form>
</div>