<footer class="footer">
    <div class="footer__container">
        <aside class="footer__aside">
            <div class="footer__text">
                <h3 class="footer__text--heading footer__heading"><span class="heading--blue">MOTORS</span> DEALERSHIP</h3>
                <p class="footer__text--desc footer__desc">One of the leading dealers of car in Poland. We also love Angular Developers!</p>
            </div>
            <div class="footer__sales-hours footer__hours">
                <h3 class="footer__sales-hours--heading footer__heading">Service Hours</h3>
                <p class="footer__sales-hours--desc footer__desc">
                    <span class="heading--gray">Monday - Friday:</span> 09:00AM - 09:00PM
                    <span class="heading--gray">Saturday:</span> 09:00AM - 07:00PM
                    <span class="heading--gray">Sunday:</span> Closed
                </p>
            </div>
            <div class="footer__service-hours footer__hours">
                <h3 class="footer__service-hours--heading footer__heading">Services Hours</h3>
                <p class="footer__service-hours--desc footer__desc">
                    <span class="heading--gray">Monday - Friday:</span> 09:00AM - 09:00PM
                    <span class="heading--gray">Saturday:</span> 09:00AM - 07:00PM 
                    <span class="heading--gray">Sunday:</span> Closed
                </p>
            </div>
            <div class="footer__parts-hours footer__hours">
                <h3 class="footer__parts-hours--heading footer__heading">Parts Hours</h3>
                <p class="footer__parts-hours--desc footer__desc">
                    <span class="heading--gray">Monday - Friday: </span> 09:00AM - 09:00PM
                    <span class="heading--gray">Saturday: </span> 09:00AM - 07:00PM
                    <span class="heading--gray">Sunday: </span> Closed
                </p>
            </div>
        </aside>
        <h6 class="footer__copyright">
            Created by Igor Borowski & Inspired by ThemeForest template
        </h6>
    </div>
</footer>