@font-face {
    font-family: MS-MEDIUM;
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: MS-BOLD;
    src: url('../../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: MS-LIGHT;
    src: url('../../assets/fonts/Montserrat-Light.ttf');
}